{% extends 'botbi20i1/base.html' %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        Смена пароля
    {% endblock %}
</head>
<body>
    {% block content %}
    <div class="changepass" >
    <h1>Смена пароля</h1>
    <form  class='changepass'  method="post" >
        {% csrf_token %}
        {% if form.non_fields_errors %}
            {% for error in non_fields_errors %}
                <p>{{ error }}</p>
            {% endfor %}
        {% endif %}

        {% for fm in form %}
            {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br> <br>
        {% endfor %}
       

        <input type="submit" value="Сменить пароль">
    </form>
    </div>
    {% endblock %}
</body>
</html>