{% extends 'botbi20i1/base.html' %}

{% block title %}
    Главная страница
{% endblock %}

<body>

    {% block content %}

        <h1 class="title"> Программирование </h1>

            <table class="facepage" >
                <tr>
                    <th><b>Номер группы</b></th>
                    <th><b>Курс</b></th>
                </tr>

                {% for group in groups %}
                    <tr>
                        <td >
                            {% if request.user.is_authenticated %}
                                <a href="{% url 'group_page' group_id=group.id %}"
                                   style="font-family:times;color:black;font-size:15px">
                                    {{group.name}}
                                </a>
                            {% else %}
                                <a style="font-family:times;color:black;font-size:15px">
                                    {{group.name}}
                                </a>
                            {% endif %}
                        </td>
                        <td style="font-family:times;color:black;font-size:15px">
                            {{group.course}}
                        </td>
                    </tr>
                {% endfor %}
            </table>
            {% for teacher in teachers %}
                {% if request.user.id == teacher.user.id %}
            
                    <input
                            class="add_lab"
                            type="button"
                            onclick="location.href='{% url 'addlab_page' %}?next={{  request.get_full_path|urlencode }}';"
                            value="Добавить лабу">
            
                {% endif %}
        {% endfor %}
    {% endblock %}
</body>
