{% extends 'botbi20i1/base.html' %}



{% block title %}
    Создание лабы
{% endblock %}

<body>
    {% block content %}
        <h1 class="lab_create">
            Добавление лабы
        </h1>
        <form class="lab_create" method="post">
            {% csrf_token %}
            <p class="name">
                Название
            </p>
            <p class="lab_name">
                {{ form.name }}
            </p>

            <p class="description">
                Описание
            </p>

            <p class="lab_description">
                {{ form.description }}
            </p>

            <p class="kt_name">
                Контрольная точка
            </p>

            <p class="lab_kt">
                {{ form.kt }}
            </p>

            <p class="weight">
                Вес лабы (%)
            </p>

            <p class="weight_lab">
                {{ form.weight }}
            </p>

            <p class="weightKt">
                Осталось в 1 КТ: {{weightKt1}} % <br>
                Осталось в 2 КТ: {{weightKt2}} % <br>
                Осталось в 3 КТ: {{weightKt3}} % 
            </p>

            <p class="lab_group">
                {{ form.group_id}}
            </p>
            <div class="add">
                <input class="add" type="submit" value="Добавить">
            </div>
        </form>
    {% endblock %}
</body>
