{% extends 'botbi20i1/base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% block title%}
    {{lab}}
    {% endblock %}
</head>


<>
    {% block content %}
        <div class="labpage" align="center">
            <h1>{{lab}}</h1>
            <h2 >Задание:</h2>
            <p> {{lab.description}}<br></p>
            {%if file == '' %}
                <p>Ответ в виде файла: Ответ не прикреплен</p>
                <input type="button" onclick="location.href='{% url 'add_file' %}?next={{  request.get_full_path|urlencode }}';" id='addfile' value='Прикрепить файл с решением'>
            {% else %}
                <p>Ответ в виде файла: {{file.file}}</p> 
            <input type="button" onclick="location.href='{% url 'change_file' %}?next={{  request.get_full_path|urlencode }}';" id='changefile' value='Изменить ответ'>
                <input type="button" onclick="location.href='{% url 'delete_file' %}?next={{  request.get_full_path|urlencode }}';" id='deletefile' value='Удалить ответ'>
            {% endif %}
            
        </div>
    {% endblock %}

</body>
</html>