body {
    background: #d5e1f2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
main {
    min-width: 100%;
    
    max-width: 100%;
    
}

h1.title {
    text-align: center;
}

TABLE.group{
    min-width: 96%; /* Ширина таблицы */
    max-width: 96%;
    margin-left: 2%;
    border-collapse: collapse;

   }
p.kt {
    text-align: center;
    font-size: small;
}


a.student {
    font-family:times;
    color:black;
    font-size: 17px;
}
main TABLE.facepage{
    min-width: 50%;
    max-width: 50%;
    float: center;
    width: auto; /* Ширина таблицы */
    border-collapse: collapse;
    margin: auto;
   }

   TD, TH {

    padding: 3px; /* Поля вокруг содержимого таблицы */
    border: 1px solid black; /* Параметры рамки */
    text-align: center;
    
   }

    TH a{ color: #80ad80;}
   a {text-decoration: none;}



main TABLE.studentPage {
    min-width: 50%;
    max-width: 50%;
    
    height: auto;

	margin:auto;
    border-collapse: collapse;
}

TD.file a {
    color: #273027;
}

div.block1{
    width: 50%;
    border-radius: 2%;
    height: 100%;
    background: #d5e1f2;
    padding: 10px;
    float: left;

}



div.block2{

    width: 50%;
    border-radius: 2%;
    height: 100%;
    background: #d5e1f2;
    padding: 10px;
    float: right;
    align-content: center;

}

div.personal_data {
    background-color: rgb(218, 216, 216);
    border-radius: 15px;
    width: 96%;
    height: 100%;
    overflow: auto;
    float: right;
}

div.teacher_otherInfo {
    overflow: auto;
    background-color: rgb(218, 216, 216);
    border-radius: 15px;
    width: 96%;
    height: 100%;
}

div.student_progress {
    overflow: auto;
    background-color: rgb(218, 216, 216);
    border-radius: 15px;
    width: 96%;
    height: 100%;
}


div.teacher_groups {
    padding-left: 35%;
    padding-top: 3%;
}

table.teacher_groups td {
    border: solid 1px rgb(218, 216, 216);
    font-size: 25;
    padding-right: 2%;
}

a.group_page {
    color:black;
}

table.teacher_groups th {
    border: solid 1px rgb(218, 216, 216);
    font-size: 25;
    padding-right: 5%;
    white-space: nowrap;
}

h2.data {
    text-align: center;
    border-radius: 15px;
    border: solid 2px black;

}


div.teacher {
    float: left;
    
    width: auto;
    height: auto;
    padding-left: 20px;
    padding-top: 15px;
    font-size: 25;
}

div.teacher_name {
    float: left;
    padding-left: 20px;
    width: auto;
    height: auto;

    font-size: 25;
}

div.labpage {

    width: 100%;

}
div.lab {
    left: 41%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-size: 35;
}

button.back {
    float: left;
    margin-top: 15px;
    margin-left: 60px;
    font-size: 18;
    outline: none;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
}


h2.ex {
    padding-left: 60px;
}

p.disc {
    padding-left: 80px;
    font-size: 20;
}

div.file {
    padding-left: 60px;
}

a.file {
    padding-left: 20px;
    text-decoration: none;
    color: #273027; 
    font-size: 20;
}

div.addfile {
    width: 100%;
    float: right;
}

input.changef {
    border-radius: 10px;
    margin-right: 30px;
}

input.deletef {
    border-radius: 10px;
    margin-left: 30px;
}

div.teacher_email {
    float: left;
    width: auto;
    height: auto;
    padding-left: 20px;
    padding-top: 15px;
    font-size: 25;

}


div.teacher_mail {
    float: left;
    width: auto;
    height: auto;
    padding-left: 20px;
    padding-top: 15px;
    font-size: 25;

}

div.teacher_phone {
    float: left;
    min-width: 80%;
    width: auto;
    height: auto;
    padding-left: 20px;
    padding-top: 15px;
    font-size: 25;
}

div.additional_information {
    float: left;
    width: auto;
    height: auto;
    padding-left: 20px;
    padding-top: 15px;
    font-size: 25;
}

div.student {
    float: left;
    min-width: 79%;
    height: auto;
    padding-left: 20px;
    padding-top: 15px;
    font-size: 25;
}

div.personal_number {
    float: left;
    width: auto;
    height: auto;
    padding-left: 20px;
    padding-top: 15px;
    font-size: 25;
}

div.group {
    float: left;
    min-width: 80%;
    height: auto;
    padding-left: 20px;
    padding-top: 15px;
    font-size: 25;
}



div.student_phone {
    float: left;
    min-width: 100%;
    height: auto;
    padding-left: 20px;
    padding-top: 15px;
    font-size: 25;

}

div.student_mail {
    float: left;
    width: auto;
    height: auto;
    padding-left: 20px;
    padding-top: 15px;
    font-size: 25;

}



h2.prog {
    text-align: center;
    border-radius: 15px;
    border: solid 2px black;
}



div.kt_check {
    height: auto;
    width: auto;
    cursor: pointer;
}

div.labs_kt {
    height: auto;
    width: auto;
    cursor: pointer;
    position: absolute;
    background: #d5e1f2;
    display: none;
}

div.KT {
    float: left;
    width: 100%;
    height: auto;
    font-size: 25;
    padding-left: 20px;
    padding-top: 15px;
    
}



div.rating {
    float: left;
    width: 100%;
    height: auto;
    font-size: 25;
    padding-left: 20px;
    padding-top: 15px;
    
}

button.kt_check {
    outline: none;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    font-size: 20;
}

a.git_hub {
    color: #273027;    
}

a.lab {
    text-decoration: none;
    color: #273027; 
}

div.changepassword {
    float: right;
    bottom: auto;
    font-size: 15;
    margin-right: 10px;
}


div.changepass {
    text-align: center;
}



div.changepassword a {
    text-decoration: none;
    color: black;
    }


div.Authorization {
    float: center;
    }




h1.std_page {
    text-align: center;
}

h2.std_page {
    text-align: center;
}

table.std_page {
    margin: auto;
}

form.login p.username {padding-top: 5px;}

form.login p.login {
    font-size: 16;
    padding-top: 5px;
    margin-bottom: -10px;
    padding-right: 140px;
    }

form.login p.password {
    font-size: 16;
    margin-bottom: -4px;
    padding-right: 130px;
    }


h1.lab_create{
    text-align: center;
}

p.name {
    text-align: center;
}

p.lab_name {  
    margin-top: -12px;
    text-align:  center;
}

p.description {
    text-align: center;
}

p.lab_description{
    margin-top: -12px;
    text-align:  center;
}

p.kt {
    text-align: center;
}

p.lab_kt {
    margin-top: -12px;
    text-align:  center;
}

p.weight {
    text-align: center;
}

p.weight_lab {
    margin-top: -12px;
    text-align:  center;
}

p.lab_group {
    margin-top: -12px;
    text-align:  center;
}

input.add {
    
    border-radius: 25px;
  
}

div.add {
    text-align: center;
    border-radius: 25px;
  
}

input.lab {
    border-radius: 25px;
}

input.add_lab {
    float: right;
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: block;
	border-radius: 10px;
	}






/* Menu */


body {
    left: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
  }
  
  
  /* Menu */
  
  .menu {
    background: #555  repeat left top;
    left: -285px; /* прячем меню */
    height: 100%;
    position: fixed;
    width: 285px;
    opacity: 0.9;
  }
  
  
  /* Basic CSS */
  
  .background {
    height: 10%;
    width: 10%;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
  }
  
  .menu ul {
    border-top: 1px solid #555;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    border-bottom: 1px solid #555;
    font-family: 'Open Sans', sans-serif;
    line-height: 45px;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-top: 3px;
  }
  
  .menu li:hover {
    cursor: pointer;
    background-color: #555;
    }
  
  .menu a {
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .icon-close {
    cursor: pointer;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 6px;
  }
  
  .icon-menu {
    max-width: 5%;
    color: #fff;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-top: 25px;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .icon-menu img {
    margin-right: 5px;
    max-height: 5%;
    max-width: 2%;
    position: fixed;

  }